<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Panier</title>
</head>
<body>
    <div class="container">
        <h1>Panier</h1>
            <table>
                <thead>
                    <tr>
                        <td>Mes produits</td>
                    </tr>
                </thead>
                    <tr>
                        <td>ref</td>
                        <td>nom</td>
                        <td>date</td>
                        <td>img</td>
                        <td>prix</td>
                    </tr>
            </table>
            <a type="btn" href="panier.html" class="button">
                <h2>Personnaliser</h2>
            </a>
            <a type="btn" href="confirmation.html" class="button">
                <h2>Commander</h2>
            </a>
    </div>
    
</body>
</html>