@import './templatePage.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    //background-color:#f56e14 ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #9c7543;
    width: 100%;
    height: 100%;
    padding: 80px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

form{
    background-color: rgb(78, 57, 90);
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.box{
    background-color: rgb(78, 57, 90);
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


/*************/


.empty-cart{
    //background-color: brown;
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-content{
    //background-color: darkblue;
    background-color: whitesmoke;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.title{
    //background-color: rgb(42, 165, 83);
    //background-color: whitesmoke;
    background-color: rgb(160, 126, 94);
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9px;
}

.titleB{
    //background-color: rgb(42, 165, 83);
    //background-color: whitesmoke;
    background-color: rgb(160, 126, 94);
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9px;
}



.titleC{
    //background-color: rgb(42, 165, 83);
    //background-color: whitesmoke;
    background-color: rgb(160, 126, 94);
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9px;
}


.item-content{
    //background-color: darkmagenta;
    background-color: whitesmoke;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    //margin-bottom: 2px;
}


.item-list{
    //background-color: darkorange;
    //background-color: whitesmoke;    
    background-color: rgb(160, 126, 94);
    width: 33%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}



.option-list{
    //background-color: darkorange;
    //background-color: whitesmoke;
    background-color: rgb(160, 126, 94);
    width: 33%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}



.prix-list{
    //background-color: darkorange;
    background-color: rgb(160, 126, 94);
    width: 33%;
    height: 25px;
    text-align: center;
    display: flex;
    padding: 5px 0 0 15%;
}



.remove-button{
    
    background-color: rgb(238, 198, 195);
    border: 1px solid black;
    width: 70%;
    height: 100%;
    margin-left: auto;
    
}

.total-content{
    //background-color: rgb(255, 28, 20);
    background-color: whitesmoke;
    width: 100%;
    height: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}


.total-price{
    //background-color: dimgrey;
    width: 30%;
    height: 100%;
    margin-right: 10px;
    text-align: center;
}

.button{
    font-weight: bold;
    font-size: 17px;
}