* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

header {
  background-color: cornsilk;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin: 0px auto 180px;*/
  position: absolute;
  top: 0px;
  left: 0px;
}

header h1 {
  /*background-color: crimson;*/
  color: #7a4c18;
  margin-left: 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
  -ms-flex-item-align: center;
      align-self: center;
}

header ul li {
  padding-left: 10px;
  padding-right: 10px;
}

header ul li a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  background-color: #9c7543;
  width: 100%;
  height: 100%;
  padding: 80px 5px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  background-color: #4e395a;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box {
  background-color: #4e395a;
  border: 2px solid black;
  border-radius: 4px;
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*************/
.empty-cart {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-item {
  background-color: #eec6c3;
  border: 1px solid black;
  width: 120px;
  height: 25px;
  margin-left: auto;
}

.cart-content {
  background-color: whitesmoke;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.title {
  background-color: #a07e5e;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 9px;
}

.titleB {
  background-color: #a07e5e;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 9px;
}

.titleC {
  background-color: #a07e5e;
  width: 33%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 9px;
}

.item-content {
  background-color: whitesmoke;
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.item-list {
  background-color: #a07e5e;
  width: 33%;
  height: 25px;
  text-align: center;
  padding-top: 5px;
}

.option-list {
  background-color: #a07e5e;
  width: 33%;
  height: 25px;
  text-align: center;
  padding-top: 5px;
}

.prix-list {
  background-color: #a07e5e;
  width: 33%;
  height: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0 0 15%;
}

.remove-button {
  background-color: #eec6c3;
  border: 1px solid black;
  width: 70%;
  height: 100%;
  margin-left: auto;
}

.total-content {
  background-color: whitesmoke;
  width: 100%;
  height: 25px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.total-price {
  width: 30%;
  height: 100%;
  margin-right: 10px;
  text-align: center;
}

.button {
  font-weight: bold;
  font-size: 17px;
}

.delete {
  display: none;
}
/*# sourceMappingURL=panier.style.css.map */