@import './templatePage.scss';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color:#f56e14 ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #9c7543;
    width: 100%;
    height: 100%;
    padding: 80px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}


.box{
    background-color: rgb(65, 20, 77);
    width: 100%;
    height: 50%;
    padding: 5px;
}


.cart-item{
    background-color: pink;
    width: 90%;
    height: 90%;
}


form{
    background-color: rgb(112, 95, 160);
    padding: 5px;
    display: flex;
    flex-direction: column;
}


.box{
    background-color: cornflowerblue;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

}


/*************/

.empty-cart{
    background-color: brown;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart-content{
    background-color: darkblue;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.title{
    background-color: rgb(42, 165, 83);
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titleB{
    background-color: rgb(42, 165, 83);
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.titleC{
    background-color: rgb(42, 165, 83);
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.item-content{
    background-color: darkmagenta;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}


.item-list{
    background-color: darkorange;
    width: 30%;
    height: 25px;
    text-align: center;
}



.option-list{
    background-color: darkorange;
    width: 30%;
    height: 25px;
    text-align: center;
}



.prix-list{
    background-color: darkorange;
    width: 30%;
    height: 25px;
    text-align: center;
}


.total-content{
    background-color: rgb(255, 28, 20);
    width: 100%;
    height: 25px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}


.total-price{
    background-color: dimgrey;
    width: 30%;
    height: 100%;
    margin-right: 10px;
}