@import '/templatePage.scss';


h1{
   /*background-color: crimson;*/
   margin: 0px auto 50px;
}


.choice{
    /*background-color: darkkhaki;*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.button{
    background-color: rgb(222, 222, 224);
    cursor: pointer;
    border-radius: 5px;
    margin:5px ;
    text-decoration: none;
    border: 0.5px solid black;
} 

.button h2{
    color: black;
    font-size: 17px;
}